<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live class waitlist</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h4>Oregon State University — Realtime minimalistic class wait-list count</h4>
<table>
    <thead>
    <th>Class code</th>
    <th>Class name</th>
    <th>Available</th>
    <th>In percent</th>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>